//所有头部样式
.all-head {
  position: fixed;
  max-width: 640px;
  min-width: 320px;
  width: 100%;
  z-index: 1000;
  top: 0;
  // 搜索框
  .searchBar-wrap {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    background-color: rgba(0, 0, 0, 0);
    height: px2rem(130);
    display: flex;
    align-items: center;
    transition: all .3s;
    &.scroll {
      background-image: none;
      background-color: rgba(255, 255, 255, 0.9);
    }
    .logo {
      width: px2rem(100);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: px2rem(45);
      img {
        border: 0;
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .back {
      @extend %headIcon;
      background-image: url(../../dist/img/back.png);
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
      &.s {
        background-image: url(../../dist/img/back_s.png);
      }
    }
    //icon图标
    .icon-search {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        background-image: url(../../dist/img/search.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
      }
    }
    .icon-search-s {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        background-image: url(../../dist/img/search_s.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
      }
    }
    .search {
      height: px2rem(100);
      display: flex;
      align-items: center;
      margin-left: 5%;
      margin-right: 4%;
      border: px2rem(2) solid #fff;
      border-radius: px2rem(30);
      background-color: rgba(255, 255, 255, 0.3);
      transition: all .3s;
      .icon {
        width: px2rem(45);
        height: px2rem(45);
        display: block;
        margin-left: px2rem(20);
      }
      input {
        display: block;
        height: 100%;
        width: 85%;
        border: 0;
        font-size: px2rem(42);
        color: #fff;
        padding-left: px2rem(20);
        background: none;
      }
    }
    %headIcon {
      width: px2rem(80);
      height: px2rem(80);
      background-size: cover;
      background-repeat: no-repeat;
    }
    .btn-group {
      display: flex;
      margin-right: px2rem(45);
      justify-content: space-around;
      .login {
        @extend %headIcon;
        background-image: url(../../dist/img/login.png);
        &.s {
          background-image: url(../../dist/img/login_s.png);
        }
        margin-right: px2rem(50);
        a {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .cart {
        @extend %headIcon;
        background-image: url(../../dist/img/cart.png);
        &.s {
          background-image: url(../../dist/img/cart_s.png);
        }
        a {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  //购物车页面 头部
  .cart-tit-wrap {
    position: relative;
    min-height: px2rem(120);
    background-color: #fff;
    border-bottom: px2rem(2) solid #e5e5e5;
    .back {
      position: absolute;
      height: px2rem(80);
      width: px2rem(80);
      left: 0;
      top: px2rem(20);
      display: block;
      background: url(../../dist/img/back_s.png) no-repeat center center/cover;
    }
    .tit {
      margin: 0 px2rem(120);
      text-align: center;
      font-size: px2rem(44);
      line-height: px2rem(120);
      height: px2rem(120);
    }
  }
}